/* NAVIGATION BAR  */
.container{
  background-color: #FFFFFF;
}
.nav{
  float: right;
  padding: 30px;
  margin: 20px;
}
.logo{
  display: inline;
  width: 101px;
  height: 118;
}
a:active{
  color: #254A59;
  text-decoration: none;
}
a:visited{
  color: #7E7373;
  text-decoration: none;
}
a:hover{
    color: #254A59;
}
span{
  opacity: 0;
  position: relative;
   right: 393px;
   top:25px;
}
/* underline decoration start here  */
.about:hover:before {
  content: '';
  width: 75px;
  position: absolute;
  top: 85px;
  right: 360px;
  height: 3px;
  background: #BBA64B;
  box-shadow: 0px 3px 6px #A29B9B;
}
.work:hover:before {
  content: '';
  width: 75px;
  position: absolute;
  top: 85px;
  right: 215px;
  height: 3px;
  background: #BBA64B;
  box-shadow: 0px 3px 6px #A29B9B;
}
.contact:hover:before {
  content: '';
  width: 75px;
  position: absolute;
  top: 85px;
  right: 85px;
  height: 3px;
  background: #BBA64B;
  box-shadow: 0px 3px 6px #A29B9B;
}
/* underline decoration end here  */
a:link{
  font-family: calibri, sans-serif;
  color: #7E7373;
font-weight: 700;
font-style: normal;
  font-size: 20px;
  text-decoration: none;
}
li{
  display: inline;
padding: 20px;
margin: 20px;
margin: 2;
}
/* NAVIGATION BAR END HERE */

/* body1 start here + profile */

.col-6{
  height: 800px;
background-color: #F5F7F6;
padding: 30px;
}
.profile{
  display: block;
 margin-left: auto;
 margin-right: auto;
  width: 352px;
  height: 341.02;
  /* style of picture */
  border: 4px solid #BBA64B;
  border-radius: 200%;
  box-shadow: 0px 3px 6px #A29B9B;
}
/* body1 + description */
.coldescription{
  height: 239px;
background-color: #FFFFFF;
padding: 30px;
margin: 30px;
/* style of box */
border: 1px solid #BBA64B;
box-shadow: 0px 3px 6px #A29B9B;
}
.description{
  padding: 30px 20px 30px 20px ;
    font-family:calibri, sans-serif #A29B9B;
  text-align: center;
}
h1{
  font-family:Litania, serif;
  text-align: center;
  color: #254A59;
}
/* body1 decoration*/
#dec1{
  position: absolute;
left: -30px;
top: 750px;
width: 236px;
height: 275px;
}
#dec2{
  position: absolute;
left: 20px;
top: 735px;
width: 179px;
height: 124px;
}

/* picture section starts here */
#photos{
  margin: 40px 10px;
  display: inline;
  width: 352px;
  height: 341.02;
box-shadow: 0px 3px 6px #A29B9B;
border: 1px solid #BBA64B;
border-radius: 10px;
}
.p1{

}
